@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script&display=swap');
body{
    font-family: 'Dancing Script', cursive;
    font-size:22pt;
    max-width:100vw;
}
.navbar{
  display:flex;
  justify-content:flex-end;
  background-color:#5eaaa8;
  color:#f8f1f1;
  margin-top:0px;
  padding:0px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
}

.navbar a{
    color:#f8f1f1;
    display:inline-block;
    padding:10px 20px 10px 20px;
    
    text-decoration:none;
}

.navbar a:hover{
    text-decoration:underline;
    text-decoration-color:#eb5e0b;
    background-color:#a3d2ca;
}
body{
    background-color:#fde8cd;
    color:#433520;
    
}
body a{
    text-decoration:none;
}
body a:hover{
    text-decoration:underline;
    text-decoration-color:#eb5e0b;
}
hr{
    border-top:1px solid #eb5e0b;
}

.tables{
    border-spacing:10px;
}

.profileimg{
    width:200px;
    height:200px;
    margin-right:20px;
    border-width:5px;
    border-radius:50%;
    border-color:cadetblue;
    box-shadow:0px 0px 8px cadetblue;
    
}

.welcomeFlex{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80rem;
    border-spacing:15px;
    flex:1 1 auto;
    
    
}

@media (max-width:500px){
    .welcomeFlex{
        display:inline-block;
        margin-top:75px;
        margin-left:75px;
    }
    .profileimg{
        margin-right:0px;
    }

}

.flexcontainer{
    
    max-height:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex:1 1 auto;
    flex-basis: 0;
    margin-left:20px;
    
}

.skills{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100vw;
    flex-wrap:wrap;
    
}
@media (max-width: 500px){
    .skills{
        flex-direction:column;
    }
}
    


.welcomeFade{
    animation-name:welcomeFade;
    animation-duration: 3s;
}

@keyframes welcomeFade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@-moz-keyframes welcomeFade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@-webkit-keyframes welcomeFade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

